.button1{
  text-align: center;
  font-size: 20px;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  border-color:#f44336;
  color: white;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body, html{
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title{
  text-align: center;
  font-size: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.container {
  position: relative;
  color: white;
}
html, body {
    font-size: 25;
    margin: 0;
    padding: 0;
}
.Center {
position: absolute;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);
}

.cover {

    background:

    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),

    url(/storage/tenants/bg.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
th{
    font-size: 18px;
}
table{
  border: none;
  border-collapse: collapse;
}

tr:hover{
  background-color: #474747da;
  cursor: pointer;
}

td{
  padding: 12px 15px;
  color:white;
}

.btn-primary{
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border:none;
}

.btn-secondary{
border: none;
background-color: #212121;
color: white;
padding: 9px 12px;
}

.btn-primary:hover{
background-color: #bf2a2a;
text-decoration: none;
}

.btn-secondary:hover
{
background-color:#474747;
}

.table-text{
    text-align: center;
    font-size: 22px;
}

.search-bar{
  border:none;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 15px;
}

a{
  text-decoration: none;
  color: #e56a1d;
}

a:hover{
  text-decoration: underline;
}
