.cover {
  /* Full height */
    background:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url(https://archive-media-1.nyafuu.org/wg/image/1508/10/1508105027081.jpg);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
